@use './variables.scss';

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #373535;
    padding: 16px;
    a:link, a:visited {
        text-decoration: none;
    }

    &__total {
        font-weight: 800;
        font-size: 24px;
        color: #e6e4df;
        margin-right: 24px;
    }
    button {
        padding: 12px 24px;
        min-width: 120px;
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: none;
        border-radius: 16px;
        cursor: pointer;
        span {
            font-weight: bold;
            font-size: 20px;
            margin-left: 8px;
        }
    }
}