body {
  margin: 0;
}

$black: #191919;

.back-button {
  padding: 16px;
  border: 2px solid $black;
  border-radius: 50vh;
  min-width: 120px;
  background-color: #fff;
  cursor: pointer;
  margin-top: 16px;
  margin-left: 16px;
}
