body {
  margin: 0;
}
main {
  max-width: 960px;
}
h1 {
  margin: 0 0 0 16px;
}
.back-button {
  padding: 16px;

  border: 2px solid #191919;
  border-radius: 50vh;
  min-width: 120px;
  background-color: #e6e4df;
  cursor: pointer;
  margin: 16px 0 0 16px;
  font-weight: 700;
  &--clear {
    background-color: #d9534f;
    color: #e6e4df;
  }
}

button:active {
  transform: scale(0.85);
}
